@use "../colours" as *;
.menu {
    background: $c_primary;
    min-height: 16rem;
    width: 100%;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    align-self: center;

    .item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 16rem;
        width: 100%;
        padding: 0 1rem;
        .image {
            height: 100%;
            width: 40%;
            position: relative;
            &::before {
                content: "";
                display: inline-block;
                width: 50%;
                height: 30%;
                background: $c_secondary;
                border-radius: 20px;
                position: absolute;
                left: 0;
                top: 25%;
                z-index: 1;
                filter: drop-shadow(-4px 4px 1px rgba(0, 0, 0, 0.25));
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                position: relative;
                z-index: 2;
                filter: drop-shadow(-4px 4px 1px rgba(0, 0, 0, 0.25));
            }
            pointer-events: none;
        }
        .info {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            height: 100%;
            width: 60%;
            gap: 1rem;
            pointer-events: none;
            justify-content: space-between;
            padding-bottom: 1rem;

            .text {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                height: 80%;
                pointer-events: all;
                cursor: default;
                h3 {
                    font-family: "Manual Expanded";
                    text-transform: uppercase;
                    font-size: 2rem;
                }
                h4 {
                    width: 100%;
                    text-align: right;
                    font-weight: 500;
                }
                p {
                    font-size: 1.2rem;
                    text-align: justify;
                }
            }
            .quality {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 20%;
                gap: 1rem;
                .price {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    background: $c_secondary;
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 0.4rem 1.5rem;
                    border-radius: 30px;
                    width: 50%;
                    padding-left: 2.25rem;
                    position: relative;
                    color: $c_text;
                    text-decoration: none;

                    .ball {
                        pointer-events: none;

                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 1rem;
                        height: 1rem;
                        background: $c_primary;
                        position: absolute;
                        left: 1rem;
                        border-radius: 100%;
                        &::after {
                            content: "";
                            display: inline-block;
                            width: 0.75rem;
                            height: 0.75rem;
                            background: $c_text;
                            border-radius: 100%;
                        }
                    }
                }
                .addToCart {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    background: $c_text;
                    font-size: 1.5rem;
                    border: none;
                    font-family: "Gelion";
                    font-weight: 600;
                    padding: 0.4rem 1.5rem;
                    border-radius: 30px;
                    width: 50%;
                    color: $c_primary;
                    text-decoration: none;
                    text-transform: uppercase;
                    pointer-events: all;
                    cursor: pointer;
                    position: relative;
                    &:active,
                    &:hover {
                        background: $c_text_dark;
                    }

                    .noti {
                        content: "+1";
                        width: 100%;
                        height: 100%;
                        background: $c_gray;
                        position: absolute;
                        left: 0;
                        border-radius: 30px;
                        color: $c_text;

                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;

                        opacity: 0;
                        transition: opacity 0.35s ease;

                        &.fail {
                            background: $c_red_dark;
                            svg {
                                color: white;
                            }
                        }
                        &.shown {
                            transition: opacity 0.5s ease;

                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .empty {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        align-self: center;
    }
}
@media (max-width: 544px) {
    .menu {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        .item {
            width: 100%;
            padding: 0;
            flex-flow: column nowrap;
            height: fit-content;
            .image {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                &::before {
                    left: 20%;
                }
                img {
                    width: 50%;
                }
            }
            .info {
                width: 100%;
            }
        }
    }
}
