@use "../colours" as *;
.thumbline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    padding: 3rem;
    gap: 1.5rem;

    .first,
    .second {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;

        width: 50%;
        // height: 100%;
        h3 {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 2vw;
            width: 100%;
            text-align: justify;
        }
        h2 {
            text-transform: uppercase;
            font-size: 7vw;
            line-height: 90%;
            width: 100%;
            font-family: Manual Expanded;
            text-align: justify;
        }
        p {
            font-weight: 300;
            font-size: 1.7vw;
            width: 100%;
            text-align: justify;
        }
        .button {
            margin-top: 1.5rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 1.2vw;
            gap: 0.5rem;

            background: rgba($color: $c_primary, $alpha: 0.05);

            border: 1px rgba($color: $c_primary, $alpha: 0.8) solid;
            text-decoration: none;
            color: $c_primary;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.4vw;

            position: relative;
            transition: color 0.25s ease, background 0.25s ease;
            &:hover {
                background: $c_primary;
                color: $c_text;
            }
        }
        img {
            width: 95%;
        }
    }
    .first {
        padding-top: 7%;
    }
    .second {
        padding-top: 2%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 394px) {
    .thumbline {
        flex-flow: column nowrap;
        height: calc(100vh - 3.5rem);
        padding: 2rem;
        .first,
        .second {
            height: 50%;
            width: 100%;
            h3 {
                text-align: left;
                font-size: 8vw;
            }
            h2 {
                font-size: 13vw;
                text-align: left;
                overflow-wrap: break-word;
            }
            p {
                display: none;
            }
            .button {
                font-size: 7vw;
                padding: 5vw;
                margin: 0 auto;
            }
        }
        .first {
            padding: 0;
            justify-content: space-between;
        }
    }
}
