@use "../colours" as *;

.accountPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: 80%;
        height: clamp(90%, 95%, 99%);
        background: white;
        border-radius: 10px;
        overflow: hidden;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

        & > * {
            color: #000;
        }

        .menu {
            width: 30%;
            height: 100%;
            border-right: 1px solid $c_gray;
            .button {
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 1px solid $c_gray;
                padding: 1rem 0;
                cursor: pointer;
                font-family: "Gelion";
                font-weight: 300;
                font-size: 1rem;
                color: #000;
                &:hover {
                    background: rgba($color: $c_gray, $alpha: 0.1);
                }
                &.selected {
                    background: $c_gray;
                    color: #fff;
                }
                & + a {
                    display: inline-block;
                    color: #000;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
        .content {
            width: 70%;
            height: 100%;
            .accountInfo {
                padding: 1rem;
                h4 {
                    font-size: 1.25rem;
                    font-weight: 500;
                }
                p {
                    text-transform: capitalize;
                    &:nth-child(2) {
                        text-transform: lowercase;
                    }
                }
            }
            .changePass {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                padding: 1rem;
                gap: 1rem;

                input {
                    width: 100%;
                    padding: 0.5rem 0rem;
                    font-size: 0.9rem;

                    border: none;
                    border-bottom: 1px solid rgba($color: $c_gray, $alpha: 0.5);
                    background: transparent;

                    transition: 0.25s ease border;
                    font-family: "Gelion";

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid $c_gray;
                    }
                }
                .btn {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0.3rem 0.25rem;
                    gap: 0.5rem;

                    background: transparent;
                    width: 100%;
                    height: 2rem;

                    color: $c_gray;
                    font-weight: 400;
                    font-family: "Gelion";

                    border: 1px solid $c_gray;
                    border-radius: 6px;
                    cursor: pointer;
                    img {
                        width: auto;
                        height: 100%;
                    }
                    transition: 0.25s ease background, 0.25s ease color;
                    &:hover {
                        background: $c_gray;
                        color: white;
                    }
                }
            }
        }
    }
}
