@use "../colours" as *;

.adminPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: 80%;
        height: clamp(90%, 95%, 99%);
        background: white;
        border-radius: 10px;
        overflow: hidden;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

        & > * {
            color: #000;
        }

        .menu {
            width: 30%;
            height: 100%;
            border-right: 1px solid $c_gray;
            .button {
                display: inline-block;

                text-align: center;
                text-decoration: none;

                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 1px solid $c_gray;
                padding: 1rem 0;
                cursor: pointer;
                font-family: "Gelion";
                font-weight: 300;
                font-size: 1rem;
                color: #000;
                &:hover {
                    background: rgba($color: $c_gray, $alpha: 0.1);
                }
                &.selected {
                    background: $c_gray;
                    color: #fff;
                }
            }
        }
        .content {
            width: 70%;
            height: 100%;
            position: relative;
            .edit {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: flex-start;

                padding: 1rem;
                gap: 1rem;
                .item {
                    border: none;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;

                    color: $c-gray;

                    position: relative;
                    width: 4rem;
                    height: 4rem;
                    background: #eee;
                    border-radius: 6px;
                    padding: 0.5rem;
                    cursor: pointer;
                    svg {
                        width: 90%;
                        height: 90%;
                        pointer-events: none;
                    }
                    &:hover {
                        background: $c_gray;
                        color: #fff;
                        p {
                            display: inline-block;
                        }
                    }
                    p {
                        position: absolute;
                        bottom: -1.5rem;
                        background: #eee;
                        width: 100%;
                        text-align: center;
                        border-radius: 6px;
                        color: #000;
                        display: none;
                    }
                }
                .addBtn {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;

                    position: relative;
                    width: 4rem;
                    height: 4rem;

                    border: 0.25rem solid $c_gray;
                    background: transparent;

                    border-radius: 6px;
                    padding: 0.5rem;
                    cursor: pointer;
                    svg {
                        width: auto;
                        height: 100%;
                        pointer-events: none;
                    }
                }
            }
            .add {
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                height: 100%;

                padding: 2rem;
                gap: 1rem;

                background: white;

                left: 0;
                top: 0;
                position: absolute;

                input {
                    width: 100%;
                    padding: 0.5rem 0rem;

                    border: none;
                    border-bottom: 1px solid rgba($color: $c_gray, $alpha: 0.5);
                    background: transparent;

                    transition: 0.25s ease border;

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid $c_gray;
                    }
                }
                textarea {
                    width: 100%;
                    height: 2rem;

                    resize: none;
                    padding: 0.5rem 0rem;
                    border: none;
                    border-bottom: 1px solid rgba($color: $c_gray, $alpha: 0.5);
                    background: transparent;

                    max-height: 60%;

                    &:focus {
                        outline: none;
                        border-bottom: 1px solid $c_gray;
                    }
                }
                .btn {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0.3rem 0.25rem;
                    gap: 0.5rem;

                    background: transparent;
                    width: 100%;
                    height: 2rem;

                    color: $c_gray;
                    font-weight: 400;
                    font-family: "Gelion";

                    border: 1px solid $c_gray;
                    border-radius: 6px;
                    cursor: pointer;
                    img {
                        width: auto;
                        height: 100%;
                    }
                    transition: 0.25s ease background, 0.25s ease color;
                    &:hover {
                        background: $c_gray;
                        color: white;
                    }
                }
                .float {
                    position: absolute;
                    bottom: 2rem;
                    width: calc(100% - 4rem);
                    .message {
                        display: flex;
                        flex-flow: column nowrap;
                        width: 100%;
                        padding: 0.5rem 1.5rem;
                        margin-bottom: 1rem;
                        border-radius: 6px;

                        background: #bbd0ff;
                        border: 1px solid #00a6fb;
                        width: 100%;
                        font-size: 0.9rem;

                        h4 {
                            font-weight: 500;
                        }
                        &.green {
                            background: $c_green_light;
                            border-color: $c_green;
                        }
                        &.red {
                            background: $c_red_light;
                            border-color: $c_red;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
