.accountInfo {
    padding: 1rem;
    h4 {
        font-size: 1.25rem;
        font-weight: 500;
    }
    p {
        text-transform: capitalize;
        &:nth-child(2) {
            text-transform: lowercase;
        }
    }
}
