@font-face {
    font-display: swap;
    font-family: "Gelion";
    font-weight: 300;
    src: url("../assets/gelion-font/Gelion-Light.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Gelion";
    font-weight: 400;
    src: url("../assets/gelion-font/Gelion-Regular.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Gelion";
    font-weight: 500;
    src: url("../assets/gelion-font/Gelion-Medium.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Gelion";
    font-weight: 600;
    src: url("../assets/gelion-font/Gelion-SemiBold.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Gelion";
    font-weight: 700;
    src: url("../assets/gelion-font/Gelion-Bold.ttf") format("truetype");
}
@font-face {
    font-display: swap;
    font-family: "Manual Expanded";
    font-weight: 700;
    src: url("../assets/manual-expanded-font/manual-expanded-bold.otf")
        format("opentype");
}
