@font-face {
    font-display: swap;
    font-family: "Inter";
    font-weight: 300;
    src: url("../assets/inter-font/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-weight: 400;
    src: url("../assets/inter-font/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-weight: 500;
    src: url("../assets/inter-font/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-weight: 600;
    src: url("../assets/inter-font/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-weight: 700;
    src: url("../assets/inter-font/Inter-Bold.ttf") format("truetype");
}
