@use "./colours" as *;
@use "./fonts" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $c-secondary;
    background-image: url("../assets/noise.png");
    font-family: "Gelion", Helvetica, sans-serif;
    color: $c-text;
}
