@use "./colours" as *;
@use "./fonts" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $c-secondary;
    font-family: "Inter", Helvetica, sans-serif;
    color: $c-text;
}
